<%= render "layouts/navbar" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Inicio de Sesión</h5>
          <form class="form-signin">

            <div class="form-label-group">
              <%= f.email_field :email,
              id: 'inputEmail',
              autocomplete: "off",
              class: 'form-control',
              style: 'height: 46px',
              placeholder: 'tu@email.com'
              %>
              <%= f.label :email %>
            </div>

            <div class="form-label-group">
              <%= f.password_field :password,
              id: 'inputPassword',
              autocomplete: "off",
              placeholder:'Password',
              class: 'form-control',
              style: 'height: 46px' %>
              <%= f.label "Contraseña" %><br />
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
            <hr class="my-4">
            <%= link_to "Iniciar Sesión con Facebook", omniauth_authorize_path(resource_name, :facebook), class: "btn btn-lg btn-facebook btn-block text-uppercase" %><br />
            <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">Iniciar Sesión con Facebook</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
