<tr id='<%= wash.id %>'>
  <td><%= wash.id %></td>
  <td><%= wash.creation_date %></td>
  <td><%= wash.discount_amount %></td>
  <td><%= wash.wash_type.name %></td>
  <td><%= wash.washer.first_name %></td>
  <td><%= wash.vehicle.patent %></td>
  <td><%= wash.vehicle.user.first_name + " " + wash.vehicle.user.last_name %></td>

  <td>
    <% if wash.receipt.present? %>
    <%= wash.receipt.id %>
    <% end %>
  </td>
  <td><%= link_to 'Show', user_wash_path({user_id: wash.vehicle.user.id}, wash) %></td>
  <td><%= link_to 'Edit', edit_user_wash_path({user_id: wash.vehicle.user.id}, wash) %></td>
  <td><%= link_to 'Destroy', user_wash_path({user_id: wash.vehicle.user.id}, wash), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
