<%= render "layouts/navbar" %>

<p>
  <strong>Creation date:</strong>
  <%= @wash.creation_date %>
</p>

<p>
  <strong>Wash type:</strong>
  <%= @wash.wash_type.name %>
</p>

<p>
  <strong>Washer:</strong>
  <%= @wash.washer.first_name + " " + @wash.washer.last_name %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @wash.vehicle.patent %>
</p>

<%= link_to 'Back', user_washes_path %>
