<%= render "layouts/navbar" %>
<%= render "layouts/sidebar3" %>

<div id="main-content">

	<div class="cont_mis_datos">
		<div class="container">
			<h1>Mis datos</h1>
		</div>
		<div class="container container_datos">
			<div class="dato_main">
				<h2>Datos de Usuario:</h2>
					<%= image_tag "icons/b-profile.png", alt: "Big Profile",  id: "user-pic" %>
				<ul>
					<div class="row">
						<li><%= image_tag "icons/ico-mail.png", alt: "Profile icon" %> Nombre de Usuario (E-mail): <span><%= @user.email %></span></li>
					</div>
					<div class="row">
						<li><%= image_tag "icons/ico-candado.png", alt: "Profile icon" %> Contraseña: ****** </li>
					</div>
					<div class="row">
						<li><%= image_tag "icons/icon-editar.png", alt: "Profile icon" %> Cambiar contraseña </li>
					</div>
				</ul>

			</div>

			<div id="contDatosSinEdit" class="cont_dato mas_datos datos_arriba">

				<h2>Datos personales:</h2>

				<ul>
					<li class="icon-dato"><%= image_tag "icons/ico-profile.png", alt: "Profile icon" %></li>
					<li>Nombre completo:</li>
					<li><%= @user.full_name %></li>
				</ul>

				<ul>
					<li class="icon-dato"><%= image_tag "icons/ico-cel.png", alt: "Cel Icon" %></li>
					<li>Rut:</li>
					<li><%= @user.rut %></li>
				</ul>

				<ul>
					<li class="icon-dato"><%= image_tag "icons/ico-cel.png", alt: "Cel Icon" %></li>
					<li>Teléfono de contacto:</li>
				<li><%= @user.cellphone %></li>
				</ul>

				<ul>
					<li class="icon-dato">Género:</li>
					<li><input type="radio" checked disabled="disabled" /> Masculino</li>
					<li><input type="radio"  disabled="disabled" /> Femenino</li>
				</ul>


			</div>

		</div>
	</div>
</div>
