<%= render "layouts/navbar" %>
<%= render "layouts/sidebar3" %>

<div id="main-content">


  <div id="payments-table-div" class="container">


    <h1>Payments</h1>

    <table id="payments-table-tb" class="table table-striped table-hover table-responsive-sm">
      <thead>
        <tr>
          <th>Fecha de Cargo</th>
          <th>Método de Pago</th>
          <th>Monto Pagado</th>
          <th>Ver Boleta</th>
        </tr>
      </thead>

      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.charged_date %></td>
            <td><%= payment.method %></td>
            <td><%= payment.paid_amount %></td>
            <td><%= link_to 'Show', payment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>

<script>

  $(document).ready(function(){
    $('#payments-table-tb').DataTable();
  });

</script>
