<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @card.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Active:</strong>
  <%= @card.active %>
</p>

<p>
  <strong>Erased:</strong>
  <%= @card.erased %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
