<%= render "layouts/navbar" %>
<%= render "layouts/sidebar3" %>

<div style="float:left">

  <div class="container">

  <div id="content-title" class="container row">
        <h1>Vehiculos de <%= current_user.first_name + " " + current_user.last_name %></h1>
  </div>

    <div class="container row">
      <% @user.vehicles.each do |vehicle| %>
        <div class="card" style="width: 36rem;">

          <% img_path = "app/assets/images/vehicles/#{vehicle.patent}.jpg" %>
          <% if File.exist?(img_path) %>
            <%= image_tag "vehicles/#{vehicle.patent}.jpg", class: "card-img-top", alt: "Card Image Cap" %>
          <% end  %>
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h4 class="card-title"> <%= "#{vehicle.brand} #{vehicle.model}" %> </h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Patente: <%= "#{vehicle.patent}" %></li>
            <li class="list-group-item">Tamaño: <%= "#{vehicle.vehicle_size.name}" %></li>
            <li class="list-group-item">Tipo: <%= "#{vehicle.vehicle_type}" %></li>
            <li> <%= link_to 'Ver Lavados', user_washes_path(@user, {vehicle_patent: vehicle.patent}), class: "card-link btn btn-success" %></li>
            <li> <%= link_to 'Eliminar Vehículo', user_vehicle_path(@user, vehicle), method: :delete, class: "card-link btn btn-danger" %></li>
          </ul>

        </div>
      <% end %>
    </div>

    <br>

    <div class="container row">
      <%= link_to 'Nuevo Vehículo', new_user_vehicle_path(@user), class: "btn btn-primary" %>
    </div>

  </div>
</div>
