<%= form_with(model: plan, url: [current_user, plan], local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Debe ser un checkbox con máximo 2 autos. -->

    <%  @user_vehicles.each do |veh| %>
      <div class="form-group">
        <%= form.label veh.patent %><br />
        <%= form.check_box :vehicles_chosen, { :multiple => true }, veh.id, false %>
      </div>
    <% end  %>

  <!-- Debe ser un select  -->
  <div class="form-group">
    <%= form.label "Selecciona el tipo de Lavado para este plan" %><br />
    <%= form.collection_select :wash_type_id, @all_wash_types, :id, :name, :prompt => "Selecciona un tipo de lavado",
    class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label "Frecuencia de Lavado" %>
    <%= form.text_field :frequency %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
