<%= render "layouts/navbar" %>
<%= render "layouts/sidebar3" %>

<div id="main-content">

  <div class="container">

    <div id="content-title" class="container row">
          <h1>Mis Suscripciones</h1>
    </div>

    <% if @user.plans.first == nil %>

      <h4>No tienes planes contratados actualmente</h4>
      <br>
      <%= link_to 'Contrata un Plan', new_user_plan_path(@user), class: "btn btn-primary", id:"boton-contrata-plan" %>



    <% else %>

      <div id="plan-cards" class="container row">
        <% @user.plans.each do |plan| %>
          <% if plan.vehicles.count > 0 %>
            <div class="card" style="width: 36rem;">

              <!-- <p>img_path = "app/assets/images/vehicles/#{vehicle.patent}.jpg"</p> -->
              <% img_path = "app/assets/images/plans/planavatar2.jpg" %>
              <% if File.exist?(img_path) %>
                <%= image_tag "plans/planavatar2.jpg", class: "card-img-top", alt: "Plan Image Cap" %>
              <% end  %>
              <div class="card-body">
                <h4 class="card-title"> <%= "Suscripción ##{plan.id}" %> </h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <% plan.vehicles.each do |vehicle| %>
                    Patente: <%= vehicle.patent %><br>
                  <% end %>                </li>
                <li class="list-group-item">
                  <% if plan.wash_type %>
                    <%= plan.wash_type.name %> <br>
                    (<%= plan.wash_type.description %>)
                  <% end %>
                </li>
                <li class="list-group-item">
                  <%= plan.frequency %>
                </li>
                <li class="list-group-item">
                  Creado: <%= time_ago_in_words(plan.created_at) %>
                </li>
                <li>
                  <%= link_to 'Eliminar', user_plan_path(@user, plan), class: "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esta suscripción?' } %>
                </li>
              </ul>

            </div>
          <% end %>

        <% end %>
      </div>

      <br>

      <%= link_to 'Contrata un Plan', new_user_plan_path(@user), class: "btn btn-primary", id:"boton-contrata-plan" %>


    <% end %>


</div>
</div>
