<%= render "layouts/navbar" %>
<%= render "layouts/sidebar3" %>

<div id="main-content">

  <div class="container">

    <div id="content-title" class="container row">
          <h1>Suscripciones Contratadas</h1>
    </div>

    <% if @user.plans.first == nil %>

      <h4>No tienes planes contratados actualmente</h4>
      <br>
      <%= link_to 'Contrata un Plan', new_user_plan_path(@user), class: "btn btn-primary", id:"boton-contrata-plan" %>



    <% else %>

      <table>
        <thead>
          <tr>
            <th>Patente</th>
            <th>Tipo de Lavado</th>
            <th>Frecuencia</th>
            <th>Fecha de Creación</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>

          <% @plans.each do |plan| %>
            <% if plan.vehicles.count > 0 %>
              <tr>
                <td>
                  <% plan.vehicles.each do |vehicle| %>
                    Patente: <%= vehicle.patent %><br>
                  <% end %>
                </td>

                <td>
                  <% if plan.wash_type %>
                    <%= plan.wash_type.name %> <br>
                    (<%= plan.wash_type.description %>)
                  <% end %>
                </td>

                <td><%= plan.frequency %></td>
                <td><%= time_ago_in_words(plan.created_at) %></td>
                <td><%= link_to 'Eliminar', user_plan_path(@user, plan), method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esta suscripción?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Contrata un Plan', new_user_plan_path(@user), class: "btn btn-primary", id:"boton-contrata-plan" %>


    <% end %>


</div>
</div>
