    <!-- Sidebar -->

    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
              <%= link_to("Dashboard", user_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Mis Datos", user_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Mis Vehículos", user_vehicles_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Mi Plan", user_vehicles_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Lavados Realizados", user_washes_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Mis Pagos y Boletas", user_vehicles_path(current_user), class:"dropdown-toggle") %>
            </li>
            <li>
              <%= link_to("Tarjetas de Crédito", user_cards_path(current_user), class:"dropdown-toggle") %>
            </li>
        </ul>
    </nav>
