<%= render "layouts/navbar" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin'}) do |f| %>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Registro de Usuario</h5>
          <form class="form-signin">

            <div class="form-label-group">
              <%= f.email_field :email,
              id: 'inputEmail',
              autocomplete: "off",
              class: 'form-control',
              style: 'height: 46px',
              placeholder: 'tu@email.com'
              %>
              <%= f.label :email %>
            </div>

            <div class="form-label-group">
              <%= f.password_field :password,
              id: 'inputPassword',
              autocomplete: "off",
              placeholder:'Contraseña',
              class: 'form-control',
              style: 'height: 46px' %>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(Mínimo <%= @minimum_password_length %> caractéres)</em>
              <% end %><br />
            </div>

            <div class="form-label-group">
              <%= f.password_field :password_confirmation,
              autocomplete: "off",
              placeholder:'Confirmar Contraseña',
              style: 'height: 46px',
              class: 'form-control' %>
              <%= f.label :password_confirmation %><br />
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">¡Regístrate con tu Email!</button>
            <hr class="my-4">      
            <%= link_to "Iniciar Sesión con Facebook", omniauth_authorize_path(resource_name, :facebook), class: "btn btn-lg btn-facebook btn-block text-uppercase" %><br />
            <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">Iniciar Sesión con Facebook</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
